<%- include("head"); -%>

<div class="geo">
  <p>Click the button to see your nearby resorts!</p>
  <button id="loc_btn">Nearby Resorts</button>
  <p id="location"></p>
</div>

<div id="resorts_container"></div>
<%- include("foot"); -%>
