 <!-- Right Column -->
 <div class="w3-col m2 sticky">
    <div class="w3-card w3-round w3-white w3-center">
      <div class="w3-container">
        <p>Click the button to see your nearby resorts!</p>
        <img src="https://images.vailresorts.com/image/upload/ar_4:3,c_fill,dpr_3.0,f_auto,g_auto,q_auto/v1/Global/Sapphire/Home%20Page%20Hero/SP_hero.png" alt="Ski Resort" style="width:100%;">
        <a href="/nearby_resorts"><button class="w3-button w3-theme-d1 w3-margin-bottom">Nearby Resorts</button></a>
      </div>
    </div>

    <!-- End Right Column -->
  </div>