 <!-- Right Column -->
 <div class="w3-col m2 sticky">
    <div class="w3-card w3-round w3-white w3-center">
      <div class="w3-container">
        <p>Click below to see nearby resorts page.</p>
        <img src="../img/SLopes.jpeg" alt="Ski Resort" style="width:100%;">
        <a href="/nearby_resorts"><button class="w3-button w3-theme-d1 w3-margin-bottom">View Page</button></a>
      </div>
    </div>

    <!-- End Right Column -->
  </div>