<%- include("head"); -%> <% if (message.length > 0) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %>

<!--LOGIN FORM-->
<form action="/signup" method="post">
  <label for="email">Email:</label>
  <input type="email" placeholder="email" name="email" required />
  <label for="password">Password:</label>
  <input type="password" placeholder="password" name="password" required />
  <label>Choose an Avatar:</label>
  <label>
    <input type="radio" name="avatar" value="../img/Robot Avatars_1.png">
    <img class="avatar" src="../img/Robot Avatars_1.png">
  </label>
  <label>
    <input type="radio" name="avatar" value="../img/Robot Avatars_2.png">
    <img class="avatar" src="../img/Robot Avatars_2.png">
  </label>
  <label>
    <input type="radio" name="avatar" value="../img/Robot Avatars_3.png">
    <img class="avatar" src="../img/Robot Avatars_3.png">
  </label>
  <label>
    <input type="radio" name="avatar" value="../img/Robot Avatars_4.png">
    <img class="avatar" src="../img/Robot Avatars_4.png">
    </label>
    <label>
    <input type="radio" name="avatar" value="../img/Robot Avatars_5.png">
    <img class="avatar" src="../img/Robot Avatars_5.png">
    </label>
  <button type="submit" class="btn btn-default btn-primary">Sign Up</button>
</form>

<a href="/"><button type="button" class="btn btn-default btn-warning">Back Home</button></a>

<%- include("foot"); -%>
